doctype html
html
    head
        title=title
        link(rel="stylesheet", href="/style.css")
    body
        ul.menu
            li.menu-item 
                a(href="/") Home
            li.menu-item 
                a(href="/create") Create
            li.menu-item 
                a(href="/login") Login